{% extends 'base.html.twig' %}{% block body %}
<div class="container">
  <div class="row justify-content-center mt-lg">
    <div
      class="col-md-11 super"
      style="background-color: #fff; margin-top: 100px"
      onmouseenter="animationMouseEnter()"
      onmouseleave="animationMouseLeave()"
    >
      <div style="text-align: center">
        <span class="logo-login">
          <img
            src="{{ asset('photos/images/logo.jpg') }}"
            width="100px"
            height="100px"
            style="border-radius: 50px"
          />
        </span>
      </div>

      <div class="container link-div">
        <a href="{{ path('app_login') }}" class="link link-flotat-right"
          >Se connecter</a
        >
      </div>
      <div class="bg-shadow bg-light">
        <br />
        <br />
        <form method="post" class="form-class">
          <input type="hidden" class="input-text2" name="" />

          <div class="form-group row">
            <label for="email" class="col-md-2 col-form-label text-left"
              >E-mail</label
            >
            <div class="col-md-9">
              <input
                id="email"
                placeholder="Votre adresse email..."
                type="email"
                class="input-text"
                name="email"
                value=""
                required
                autocomplete="im"
                autofocus
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="email" class="col-md-2 col-form-label text-left"
              >Latest Password</label
            >
            <div class="col-md-9">
              <input
                id="Password"
                placeholder="Votre ancien mot de passe..."
                type="password"
                class="input-text"
                name="password"
                value=""
              />
            </div>
          </div>
          <br />
          <br />
          <div class="form-group row">
            <label for="email" class="col-md-2 col-form-label text-left"
              >New Password</label
            >
            <div class="col-md-9">
              <input
                id="Password"
                placeholder="Ecrivez ici votre nouveau mot de passe..."
                type="password"
                class="input-text"
                name="password"
                value=""
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="email" class="col-md-2 col-form-label text-left"
              >Confirm Password</label
            >
            <div class="col-md-9">
              <input
                id="Password"
                placeholder="Retaper ici votre nouveau mot de pass..."
                type="password"
                class="input-text"
                name="password"
                value=""
              />
            </div>
          </div>
          <br />
          <br />
          <div class="form-group row mb-0">
            <div class="col-md-6 offset-md-6" style="float: right">
              <button type="submit" class="btn-custom" style="width: 150px">
                Récuperer
              </button>
            </div>
            <br />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
