{% extends 'base.html.twig' %} {% block title %}Acceuil{% endblock
%} {% block content %}
{{ parent() }}
<!DOCTYPE html>
<div class="data">
    <img src="{{ asset('photos/images/board.PNG') }}">
</div>
<div class="data2">

</div>
</div>
</html>
{% endblock %}
